{% extends 'base.html' %}
{% load static %}
{% block page_class %}login{% endblock %}

{% block title %}Entrar - Peladeiros{% endblock %}

{% block content %}
<section class="login-section" style="padding: 120px 0 80px 0;">
    <div class="container">
        <div class="form-container" style="max-width: 500px; margin: 0 auto;">
            <div class="form-header">
                <h2 class="section-title">Aceder à sua Conta</h2>
            </div>
            <div class="form-body">
                <form id="login-form" novalidate>
                    <div class="form-group mb-3">
                        <label for="username">E-mail</label>
                        <input type="email" id="username" name="username" class="form-control">
                    </div>

                    <div class="form-group mb-3">
                        <label for="password">Senha</label>
                        <input type="password" id="password" name="password" class="form-control">
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>

                    <div class="text-center mt-3">
                        <p>Não tem uma conta? 
                            <a href="{% url 'usuarios:criar_conta' %}">Crie uma agora</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/app.js' %}"></script>
{% endblock %}
